@page "/"
@inject PopperService _popperService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button @ref=reference id="button" aria-describedby="tooltip">My button</button>
<div @ref=popper id="tooltip" role="tooltip">@state?.Placement.ToString()</div>


@foreach (Placement placement in Enum.GetValues(typeof(Placement)))
{
    <button @onclick="()=>SetPlacement(placement)">@placement.ToString()</button>
}

@code{
    protected ElementReference reference; 
    protected ElementReference popper;

    protected Instance Instance;
    protected State state;

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender)
        {
            Instance = await _popperService.CreatePopperAsync(reference, popper, new());
        }
    }


    public async Task SetPlacement(Placement placement)
    {
        Options options = new()
            {
                Placement = placement
            };
        state = await Instance.SetOptions(options);
    }
}