@page "/"
@inject PopperService _popperService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button @ref=reference id="button" aria-describedby="tooltip">My button</button>
<div @ref=popper id="tooltip" role="tooltip">@popperString</div>

@code{
    protected ElementReference reference; 
    protected ElementReference popper;
    protected string? popperString;

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender)
        {
            var options = new Options()
                {
                    Placement = Placement.Left,
                    OnFirstUpdate = (state) =>
                    {
                        popperString = state.Placement.ToString();
                        StateHasChanged();
                    }
                };
            await _popperService.CreatePopperAsync(reference, popper, options);
            StateHasChanged();
        }
    }
}